<h1>Componente App component</h1>
<!-- <button (click)="modificarInput()">Cambiar Input</button>
<app-compo1 [pruebaInput]="valor"></app-compo1>
<input type="number" placeholder="numero1" [(ngModel)]="numero1">
<input type="text" placeholder="operacion" [(ngModel)]="operacion">
<input type="number" placeholder="numero2" [(ngModel)]="numero2">
<input type="text" placeholder="Resultado" [(ngModel)]="resultado">
<button (click)="calcular()">CALCULAR</button> -->
<app-alta (outputInfo)="capturarInfo($event)"></app-alta>


<app-usuario [nombre]="nombreDesdeAlta" [edad]="edadDesdeAlta"></app-usuario>
<!-- <hr>
<button (click)="redireccionUsuarios()">USUARIOS</button>
<button (click)="redireccionAlta()">ALTA</button>
<router-outlet></router-outlet> -->