<h1>Componente alta</h1>
<div style="border: solid 1px;">
    Nombre: <input type="text" [(ngModel)]="nombre">
    <br>
    Edad: <input type="number" [(ngModel)]="edad">
</div>
<div>
    <button (click)="ingresar()">Ingresar</button>
</div>
